/* ℹ️ main DIV container */
.aboutMainContainer {
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.about-header-container {
  width: 100%;
}

/* ℹ️ topline divider containing main about heading */
.topline {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  background-color: #000;
}

.corner-divider {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  clip-path: polygon(51% 49%, 100% 0%, 100% 100%, 0% 100%);
}

/* ℹ️ about text container */

.about-text-container {
  width: 100%;
  height: 100%;
  /* border: 4px solid blue; */
  color: #000;
  font-family: "Comfortaa", cursive;
}

/* header test  */
.about-header {
  width: 100%;
  position: absolute;
  top: 150px;
}
.about-header-text {
  font-size: 1.5rem;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #000;
}

/* ℹ️ subheading  */
.about-subheader {
  width: 100%;
  position: absolute;
  top: 230px;
}
.about-subheader-text {
  font-size: 1.5rem;
  width: 80%;
  margin: 0 auto;
}
.about-header-text h1,
.about-subheader-text h1 {
  margin-left: 20px;
}

/* ℹ️ about main body  */
.about-body {
  color: #000;
  width: 100%;
  position: absolute;
  top: 350px;
}
.about-body-text {
  width: 80%;
  margin: 0 auto;
  font-family: "Comfortaa", cursive;
}
.about-body-text p {
  margin-left: 20px;
  font-size: 1.2rem;
}
.about-body-text > p > span {
  color: #dc3de9;
  margin: 0 10px;
}

/* ℹ️ parallax container */
.about-parallax-container {
  height: 100%;
  width: 100%;
  /* border: 2px solid greenyellow; */
}

/* ℹ️ Parallax Banner  */
.about-parallax-banner {
  height: 100%;
  width: 100%;
  max-width: 123rem;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid violet; */
}

/* .about-dev-text-PBL,
.about-laptop-PBL,
.about-text-PBL {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: top !important;
} */

.about-laptop-PBL,
.about-text-PBL {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: top !important;
}

.left-line-divider {
  /* width: 1200px; */
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #000;
}

.left-line-divider-deco {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: top !important;
}

/* ℹ️ℹ️ ---------- Media Querys ---------- ℹ️ℹ️ */

/* 🖥️ Small devices (portrait tablets and large phones, 300px and up) */
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .about-header-text {
    padding-top: 50px;
  }

  .about-subheader-text {
    padding-top: 15px;
  }

  .about-header-text,
  .about-subheader-text {
    font-size: 0.7rem;
  }
}
/* 🖥️ Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .topline-text {
    padding-top: 35px;
  }

  .about-subheader-text {
    padding-top: 10px;
  }

  .about-header-text,
  .about-subheader-text {
    font-size: 1rem;
  }
}
/* 🖥️ Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .about-header-text {
    padding-top: 25px;
  }

  .about-header-text,
  .about-subheader-text {
    font-size: 1.2rem;
  }
}
/* 🖥️ Large devices (laptops/desktops, 992px and up)  */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}
/* 🖥️ Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
}
