@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Comfortaa:wght@300&family=Monoton&family=Montserrat:wght@100;200;400&family=Oxygen:wght@300&display=swap");

/* ℹ️ main DIV container */
.hero-main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

/* ℹ️ navigation bar */

.nav-bar {
  width: 100vw;
  height: 70px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: top;
  justify-content: space-around;
  background-color: #000;
  color: #dc3de9;
}

.nav-bar h1 {
  margin-top: 15px;
}

.nav-bar ul {
  width: 250px;
  text-transform: uppercase;
  padding-top: 10px;
}
.nav-bar li {
  list-style-type: none;
  display: inline;
  margin: 0 10px;
}
.nav-bar li a {
  text-decoration: none;
  color: #dc3de9;
}
.nav-bar li a:hover {
  color: pink; /*❗️❗️❗️❗️change the hover color❗️❗️❗️❗️*/
}

/* ℹ️ parallax container */
.heroParallaxContainer {
  height: 70%;
  width: 800px;
  margin: 0 auto;
}

/* ℹ️ Parallax Banner  */
.heroPB {
  height: 100%;
}
/* ℹ️ hero text parallax container  */
.heroPBtextLayer {
  position: relative;
}

.heroPBtextLayer h1 {
  position: relative;
  top: 450px;
  left: 280px;
  rotate: -15deg;
  font-family: "Caveat", cursive;
  font-size: 5rem;
}

/* ℹ️ℹ️ ---------- Media Querys ---------- ℹ️ℹ️ */

/* 🖥️ Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* hero container */
  .heroParallaxContainer {
    height: 300px;
    width: 300px;
  }
  /* hero text position and size  */
  .heroPBtextLayer h1 {
    font-size: 2rem;
    top: 160px;
    left: 100px;
  }
}
/* 🖥️ Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* 🖥️ Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* 🖥️ Large devices (laptops/desktops, 992px and up)  */
@media only screen and (min-width: 992px) {
}
/* 🖥️ Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* change widht of main container on big screens and center it */
  .heroMainContainer {
    /* width: 1200px;
    margin: 0 auto; */
  }
  /* change width of navbar of big screens */
  .navBar {
    /* width: 1200px; */
  }
}
